name: "Output Version"

on:
  push: 
    branches: 
      - '*'
  workflow_dispatch:
    branches:
      - main
      - '*'
    commit:
      - '*'
env:
  some_dev_thing: dev
  some_prod_thing: prod
  some_test_thing: test

jobs:
  updaload-file:
    strategy:
      matrix:
        environment: [dev, prod, test]
    concurrency:
      group: ${{ github.ref }}
    name: Uploading a File
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ env.some_dev_thing }}
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: publish-package
          path: '.'
  pulling-down-file:
    concurrency:
      group: ${{ github.ref }}
    needs: 
      - updaload-file
    name: Update Version Number
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: publish-package
          path: publish-package
      - name: Update Version Number
        run: |
          fullsha=${{ github.sha }}
          echo ${fullsha:0:7} > publish-package/version.txt
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: publish-package
          path: publish-package
  does-the-file-update-persist:
    concurrency:
      group: ${{ github.ref }}
    needs:
      - pulling-down-file
    name: Does it overwrite the existing files
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v3
        with:
          name: publish-package
          path: publish-package
      - run: 'ls publish-package'
      - name: Should be the SHA
        run: 'cat publish-package/version.txt'