name: "Output Version"

on:
  push: 
    branches: 
      - '*'    

jobs:
  failing-fast:
    strategy:
      fail-fast: true
      matrix: 
        version: [10, 9, 8, 13]
        max-parallel: [1]
    concurrency:
      group: ${{ github.ref }}
    name: Failing Fast
    runs-on: ubuntu-latest
    steps:
      - name: Failing maybe
        if: matrix.version == '8'
        run: exit 1
      - run: echo hello