name: "Output Version"

on:
  push: 
    branches: 
      - '*'
  workflow_dispatch:
    branches:
      - main
      - '*'
    commit:
      - '*'
env:
  version_number: '1'

jobs:
  does-the-file-update-persist:
    name: Does it overwrite the existing files
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo $(date +'%Y%m%d')-${{github.run_number}}-$(git rev-parse --short HEAD) > version.txt
          VERSION_NUMBER=$(cat version.txt)
          echo "version_number=$VERSION_NUMBER" >> $GITHUB_ENV
  does-second-thing:
    needs:
      - does-the-file-update-persist
    name: Does it overwrite the existing files
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{ env.version_number }}