name: "Output Version"

on:
  push: 
    branches: 
      - '*'
  workflow_dispatch:
    branches:
      - main
      - '*'
    commit:
      - '*'

jobs:
  updaload-file:
    name: Uploading a File
    runs-on: ubuntu-latest
    steps:
      - run: 'echo initial > version.txt'
      - run: 'echo initial > versasfion.txt'
      - run: 'echo initial > versasfsafasfon.txt'
      - run: 'echo initial > versaasfsion.txt'
      - run: 'echo initial > vsfdsafasfdersion.txt'
      - run: 'echo initial > verasfdsion.txt'
      - run: 'echo initial > verasfsfasdfdsion.txt'
      - run: 'echo initial > vasfersion.txt'
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: publish-package
          path: '.'
  pulling-down-file:
    needs: 
      - updaload-file
    name: Pulling Down The File and Updating it
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: publish-package
          path: publish-package
      - name: Should say 'initial'
        run: 'cat publish-package/version.txt'
      - run: 'echo ${{ github.sha }} > publish-package/version.txt'
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: publish-package
          path: publish-package
  does-the-file-update-persist:
    needs:
      - pulling-down-file
    name: Does it overwrite the existing file
    runs-on: ubuntu-latest
    steps:
      - name: Download a single artifact
        uses: actions/download-artifact@v2
        with:
          name: publish-package
          path: publish-package
      - run: 'ls'
      - name: Should be the SHA
        run: 'cat publish-package/version.txt'